.dropdowns-container_about {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 100%;
    margin: 40px;
    padding: 0 40px;
}

@media screen and (max-width: 768px) {
    .dropdowns-container_about {
        margin: 40px 0;
        padding: 0;
    }
}