.house-details {
    position: relative;
    width: 100%;

    .house-and-host-information {
        display: grid;
        grid-template-areas: 
            "introduction host"
            "tags rate";
        grid-template-columns: 1fr auto;

        .house-intro {
            grid-area: introduction;
        }

        .host {
            grid-area: host;
            justify-self: end;
            padding-top: 30px;
        }

        .tags {
            grid-area: tags;
            display: flex;
            flex-direction: row;
            gap: 20px;
            flex-wrap: wrap;
            
            .tag {
                color: #FFFFFF;
                background-color: #FF6060;
                border-radius: 10px;
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                padding: 3px 40px;
                display: flex;
                align-items: center;
            }
        }

        .rate {
            grid-area: rate;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: auto;
            gap: 5px;
            font-size: 30px;
            justify-self: end;

            .active-star {
                color: #FF6060;
                
            }

            .inactive-star {
                color: #E3E3E3;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .house-details {
        .house-and-host-information {
            display: grid;
            grid-template-areas: 
                "introduction introduction"
                "tags tags"
                "rate host";
            grid-template-columns: auto 1fr;
            grid-template-rows: auto auto 80px;

            .house-intro {
                grid-area: introduction;
            }

            .tags {
                grid-area: tags;
                gap: 10px;
                flex-direction: row;
                flex-wrap: wrap;
            }

            .rate {
                grid-area: rate;
                font-size: 18px;
                justify-self: start;
                padding-top: 18px;
            }    
            
            .host {
                grid-area: host;
                justify-self: end;
            }

            &.responsive {
                flex-direction: row;

                .rate-host-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }                
            }
        }
    }
}