.dropdown-menu {
    border-radius: 5px;
    width: 100%;

    .dropdown-header {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px 10px 15px;
        cursor: pointer;
        background-color: #FF6060;
        border-radius: 5px;

        span {
            color: #FFFFFF;
            font-size: 24px;
            font-weight: 700;
            padding: 10px;
        }
    }

    .dropdown-content {
        padding: 20px 30px;
        color: black; 
        font-size: 18px;
        font-weight: 400;
        line-height: 34.22px;
        display: none;
        background-color:#F6F6F673;
    }

    &.open {
        .dropdown-content {
            display: block;
        }
    }
}