.dropdown-menu {
    border-radius: 5px;
    width: 100%;

    .dropdown-header {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px 10px 15px;
        cursor: pointer;
        background-color: #FF6060;
        border-radius: 5px;
        max-height: 200px;

        span {
            color: #FFFFFF;
            font-size: 24px;
            font-weight: 700;
            padding: 10px;
        }
    }

    .dropdown-content {
        padding: 20px 30px;
        color: black; 
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        display: none;
        background-color:#F6F6F673;
        max-height: 0;
        transition: max-height 0.4s ease;
        overflow: hidden;
    }

    &.open {
        .dropdown-content {
            display: block;
            max-height: 200px;
        }
    }
}

@media screen and (max-width: 768px) {
    .dropdown-menu {
        .dropdown-header {
            span {
                font-size: 15px;
            }
        }

        .dropdown-content {
            font-size: 12px;
            line-height: 17px;
            padding: 10px;
        }
    }
}